* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img, video {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
#header .center {
  width: 500px;
  border-radius: 50px;
  background-color: skyblue;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#header .center .gnb {
  display: flex;
  justify-content: center;
}
#header .center .gnb li {
  line-height: 85px;
  margin: 0 20px;
  font-size: 16px;
}
#header .center .gnb li a {
  color: #000;
  transition: all 0.3s;
}
#header .center .gnb li.on a {
  color: #552404;
  background-color: #ee9153;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}

#header.fixed {
  height: 85px;
  position: fixed;
  left: 0;
  top: 0;
}
#header.fixed .center {
  width: 100%;
  border-radius: 0;
}

#container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
#container .section {
  scroll-snap-align: start;
  width: 100%;
}
#container .section:nth-child(1) {
  background-color: #f86969;
  height: 96vh;
}
#container .section:nth-child(2) {
  background-color: #7481fc;
}
#container .section:nth-child(3) {
  background-color: #ee9153;
}
#container .section:nth-child(4) {
  background-color: #6ace77;
}
#container .intro {
  display: flex;
  justify-content: center;
}
#container .intro .center {
  width: 80%;
}
#container .intro .center .text_ani_box {
  display: flex;
  justify-content: center;
}
#container .intro .center .text_ani_box svg {
  fill: none;
  width: 500px;
  stroke-width: 4px;
}
#container .intro .center .text_ani_box path {
  stroke: #6d1010;
  stroke-dasharray: 779.64;
  stroke-dashoffset: 779.64;
  -webkit-animation: path 6s forwards;
          animation: path 6s forwards;
}
@-webkit-keyframes path {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ad6565;
  }
}
@keyframes path {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ad6565;
  }
}
#container .explain .pf {
  display: flex;
  align-items: center;
  overflow: hidden;
}
#container .explain .pf:nth-child(1) {
  background-color: #ffefef;
  height: 100vh;
}
#container .explain .pf:nth-child(2) {
  background-color: #f1f2ff;
}
#container .explain .pf:nth-child(3) {
  background-color: #fffaf6;
}
#container .explain .pf > div {
  width: 50%;
}
#container .explain .pf .left {
  overflow: hidden;
}
#container .explain .pf .left img {
  width: 100%;
}

#footer {
  width: 100%;
  height: 100vh;
}