* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img, video {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
#header .center {
  width: 500px;
  border-radius: 50px;
  background-color: skyblue;
  transition: all 0.3s;
}
#header .center .gnb {
  display: flex;
  justify-content: center;
}
#header .center .gnb li {
  line-height: 85px;
  margin: 0 20px;
  font-size: 16px;
}
#header .center .gnb li a {
  color: #000;
}
#header .center .gnb li.on a {
  color: #552404;
  background-color: #ee9153;
  width: 70px;
  line-height: 40px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}

#header.fixed {
  height: 85px;
  position: fixed;
  left: 0;
  top: 0;
}
#header.fixed .center {
  width: 100%;
  border-radius: 0;
}

#container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}
#container .section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
#container .section:nth-child(1) {
  background-color: #f86969;
  height: 96vh;
}
#container .section:nth-child(2) {
  background-color: #7481fc;
}
#container .section:nth-child(3) {
  background-color: #ee9153;
}
#container .section:nth-child(4) {
  background-color: #6ace77;
}

#footer {
  width: 100%;
  height: 100vh;
}